@font-face {
  font-family: "Noto Sans Georgian";
  src: url("../fonts/NotoSansGeorgian-SemiBold.woff2") format("woff2"),
    url("../fonts/NotoSansGeorgian-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Noto Sans Georgian";
  src: url("../fonts/NotoSansGeorgian-Regular.woff2") format("woff2"),
    url("../fonts/NotoSansGeorgian-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Noto Sans Georgian";
  src: url("../fonts/NotoSansGeorgian-Medium.woff2") format("woff2"),
    url("../fonts/NotoSansGeorgian-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "BPG Banner Caps";
  src: url("../fonts/BPGBannerCaps.woff2") format("woff2"),
    url("../fonts/BPGBannerCaps.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
